<div class="task">
  <input class="inputbox" #input type="text">
  <button class="btn" (click)="addNewToDo(input.value)">Add New Task</button>

  <div class="radio">
    <input type="radio" [(ngModel)]="filter" value="all">All Task
    <input type="radio" [(ngModel)]="filter" value="completed">Completed Task
    <input type="radio" [(ngModel)]="filter" value="remaining">Remaining Task
  </div>
  <div class="to-do-list">
    <ul>
      <li *ngFor="let task of todoTasks | taskFilter:filter; let i=index">
        {{i+1}} ) <span [ngClass]="task.status?'delete':'completed'">{{task.text}}</span>
        <button class="btn1" (click)="deleteTask(i)">Delete</button>
        <button class="btn2" (click)="completedTask(i)">Add to Completed</button>
      </li>
    </ul>
  </div>

</div>